input{
    border-radius: 50px;
    text-align: center;   
}
#inloggform{
  padding: 40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}