input{
    border-radius: 50px;
    text-align: center;  
    background-color: var(--color-text-white);
    padding: 0 var(--space-md);
    font-weight: 600;
}
#inloggform{
  padding: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  width: 350px;
  margin: auto;
}
body{
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main{
  flex: 1;
}
#loginbtn{
  width: 266.5px;
}
#main-container{
  padding: 20px 0;
}
#member-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 0 0 20px 0;
}