* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

body {
  color: var(--color-text-black); /* Textfärg för hela sidan */
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  letter-spacing: 0.6px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.food{
  background-color: var(--color-blue-light);
  letter-spacing: 0.9px;
}

.lunch {
display: block;
text-align: center;
}

.alacarte{
display: block;
text-align: center;
padding-bottom: 100px;
}

.pic1 img {
  flex-direction: column;
  float: right;
  display: flex;
  height: 250px;
  width: auto;
}

.pic2 img {
  flex-direction: column;
  float: left;
  display: flex;
  height: 250px;
  width: auto;
}

.öppettider{
display: block;
text-align: center;

}

.lunch li{
  list-style-type: none;
}

.boka h3{
  text-align: center;
}
/*Lite style till inputsfältet*/
.boka input{
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 300px;
  padding: 2px;
  margin: 2px;
}
/*Lite style till inputsfältet vid hover*/
.boka input:hover{
  cursor: pointer;
  border-color: aqua;
}
/*Bokningsknappen stylas här*/
.boka .subknapp:hover{
background-color: var(--color-green-mid);
font-size: 1.25rem;
}
/*Här stylas bokningsformuläret*/
form{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-bottom: 50px;
}

.footer{
  color: var(--color-text-black); /* Textfärg för hela sidan */
  font-family: "Raleway", sans-serif;
  letter-spacing: 0.6px;
}





